<% include ../partials/boilerplate %>
<% include ../partials/nav %>

  <div class="container">
    <% for (let f of font) { %>
      <div class="individual-font">

        <p id= "family" ><%= f.family %></p>
        <p id= "category"> <%= f.category %></p>
        <p id= "variants"> <%= f.variants %> </p>
        <div class="download-btn">
          <a id= "files" href=" <%= f.files.regular %> "><span id="download-font"> Download <%= f.family %></span><a/>
        </div>
        <div class="font-btns">
          <div class="save-button">
            <button type="submit" value="save">Save Font!</button>
          </div>
          <div class="add-note">
            <p><a href='/notes/add'>Add a note</a></p>
          </div>
        </div>
      </div>
    <% } %>
  </div>



 <script src='/src/jquery.js'></script> 
 <script src='/src/main.js'></script> 
  <script>

     $('button').on('click', function () {
   
    let dataGoingToDB={}; //empty object


      //below populating the object wih font data
    dataGoingToDB.family=$('#family').text();
    dataGoingToDB.category=$('#category').text();
    dataGoingToDB.variants=$('#variants').text();
    dataGoingToDB.files=$('#files').text();
    // function saveToDB(){


    //below sending object with data to backend 
    //using Ajax to send a post request
    //ajax is a jquery method that lets you transfer data through the http 
        $.ajax({
        method: "POST",
        url: "/font/terminal", // whih route we are trying to call
        data: dataGoingToDB,
        success: function (){
          window.location = '/font/savedFonts'
        },

        //  dataType: dataType
      });

     });
    
  </script>





 
   

</body>

</html>
