<% include ../partials/boilerplate %>
  

  <div class="container">
    <% for (let f of font) { %>
      <div class="individual-font">

        <p id= "family" ><%= f.family %></p>
        <p id= "category"> <%= f.category %></p>
        <p id= "variants"> <%= f.variants %> </p>
        <div>
          <a id= "files" href=" <%= f.files.regular %> "><p id="download-font"> Download <%= f.family %>!</p><a/>
        </div>
        <button type="submit" value="save">Save Font!</button> 
      
      </div>
    <% } %>
  </div>



 <script src='/src/jquery.js'></script> 
 <script src='/src/main.js'></script> 
  <script>

     $('button').on('click', function () {
   
    let dataGoingToDB={};

    dataGoingToDB.family=$('#family').text();
    dataGoingToDB.category=$('#category').text();
    dataGoingToDB.variants=$('#variants').text();
    dataGoingToDB.files=$('#files').text();
    alert(dataGoingToDB.family);
    // function saveToDB(){
        $.ajax({
        type: "POST",
        url: "/font/terminal",
        data: dataGoingToDB,
        success:   function(){
        alert("font has been saved");
        },

        //  dataType: dataType
      });

     });
    
  </script>





 
   

</body>

</html>
