<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class="main">
      <div class='hero'>
        <h1>Your fonts</h1>
      </div>
<div class="container fonts">
    <% data.forEach(data => { %>
        <div class="individual-font">
            <p id= "family"><%= data.family %></p>
            <p id= "category"><%=  data.category %></p>
            <p id= "variants"><%= data.variants %></p>
            <div class="download-btn">
                <a id= "files" href=" <%= data.regular.files %> "><span id="download-font"><%= data.regular%></span><a/>
            </div>
            <div class='links'>
                <form method='POST' action='/font/<%= data.id %>?_method=DELETE'>
                    <input class="button-f" type="submit" value="Delete Font"/>
                </form>
            </div>
        </div>
<% }) %>
</div>
</div>

